* {
  font-family: "MadeOkineSans", sans-serif;
}
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "MadeOkineSans";
  src: local("MadeOkineSans"),
    url("/fonts/made_okine_sans/MADEOkineSansPERSONALUSE-Black.otf")
      format("truetype"),
    url("/fonts/made_okine_sans/MADEOkineSansPERSONALUSE-Black.otf")
      format("truetype");
  font-weight: bolder;
  font-style: normal;
}
@font-face {
  font-family: "MadeOkineSans";
  src: local("MadeOkineSans"),
    url("/fonts/made_okine_sans/MADEOkineSansPERSONALUSE-Bold.otf")
      format("truetype"),
    url("/fonts/made_okine_sans/MADEOkineSansPERSONALUSE-Bold.otf")
      format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "MadeOkineSans";
  src: local("MadeOkineSans"),
    url("/fonts/made_okine_sans/MADEOkineSansPERSONALUSE-Medium.otf")
      format("truetype"),
    url("/fonts/made_okine_sans/MADEOkineSansPERSONALUSE-Medium.otf")
      format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "MadeOkineSans";
  src: local("MadeOkineSans"),
    url("/fonts/made_okine_sans/MADEOkineSansPERSONALUSE-Regular.otf")
      format("truetype"),
    url("/fonts/made_okine_sans/MADEOkineSansPERSONALUSE-Regular.otf")
      format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "MadeOkineSans";
  src: local("MadeOkineSans"),
    url("/fonts/made_okine_sans/MADEOkineSansPERSONALUSE-Light.otf")
      format("truetype"),
    url("/fonts/made_okine_sans/MADEOkineSansPERSONALUSE-Light.otf")
      format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "MadeOkineSans";
  src: local("MadeOkineSans"),
    url("/fonts/made_okine_sans/MADEOkineSansPERSONALUSE-Thin.otf")
      format("truetype"),
    url("/fonts/made_okine_sans/MADEOkineSansPERSONALUSE-Thin.otf")
      format("truetype");
  font-weight: 100;
  font-style: normal;
}

/* utility classes */

.container {
  width: 100%;
  max-width: 90vw;
  margin: 0 auto;
}

.show {
  transform: translateX(0);
  opacity: 1;
}

.hide {
  transform: translateX(100%);
  opacity: 0;
}

.text-xl {
  font-size: 2rem;
}
.text-normal {
  font-size: 1rem;
}

.font-bold {
  font-weight: 400;
}

.position-relative{
  position: relative;
}


.font-normal{
  font-weight: 400;
}

.mt-1 {
  margin-top: 1rem;
}
.mb-0 {
  margin-bottom: 0;
}

.d-grid {
  display: grid;
}

.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}
.justify-center {
  justify-items: center;
}

.text-center {
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.8rem;
  max-width: 28rem;
  margin-left: auto;
  margin-right: auto;
}



/* color-box */

.target-box {
  width: 8rem;
  height: 6rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}
.color-box {
  width: 100%;
  height: 6rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
  border: none;
}

.color-box:hover {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  transform: scale(1.05);
}

/* button */
.btn {
  margin: 0 auto;
  margin-top: 2rem;
  display: block;
  color: #fff;
  padding: 1rem 1.4rem;
  background-color: #0010f0bb;
  border: none;
  border-radius: 5px;
  position: relative;
}

.btn:hover {
  display: block;
  background-color: #0010f0ef;
}

/* toast container */
.toast-container {
  position: fixed;
  top: 1rem;
  right: 1rem;
  background-color: #000000ec;
  color: #fff;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

@media (min-width: 768px) {
  .custom-grid {
    grid-template-columns: repeat(3, 1fr);
  }

}
